<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <link rel="icon" href="https://www.freepnglogos.com/uploads/logo-internet-png/logo-internet-chemiphase-updated-website-goes-live-chemiphase-ltd-12.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Shrtn Ur URL</title>
</head>

<body>
    <div class="container-fluid">
        {% block content%}
        {% endblock %}
    </div>
  </body>
</body>
</html>